<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="all">all item</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="breakfast">breakfast</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="price">price between 2000-5000</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="calories">calories at least 20</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="create">create item</a>
            </li>
        </ul>

    </nav>
</body>
</html>